html {
  box-sizing: border-box;
  padding: 1.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,
h2,
h3 {
  font-family: Fraunces, Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: Barlow, Arial, Helvetica, sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5625;
}

.m-bottom-medium {
  margin-bottom: 2rem;
}
