$color-cyan: #0e8784;
$color-dark-grey-blue: #333d4b;
$color-pale-orange: #fdd6ba;
$color-light-cream: #fefcf7;
$color-grey: #83888f;
$color-dark-grey: #2c343e;

$color-cyan-secondary: #66d2cf;
$color-light-cream-secondary: #e2dedb;

$color-big-selection: #f4f1eb;
$color-big-selection-hover: #fdd6ba;

$br-large: 0.625rem;
$br-medium: 0.5rem;
$br-small: 0.375rem;
